
<br><br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card bg-light shadow-sm">
                <div class="login-wrap p-5">
                    <h2 class="text-center text-secondary mb-4">Welcome</h2>
                    <p class="text-center" ><img class="mx-auto" th:src="@{/images/93e3fb0eec46d93a0749a965747a7d9b.png}"/></p>
                    <h3 class="text-center mb-4 text-secondary">Sign In</h3>
                    <form th:action="@{/user/processForm}" method="post" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Login" name="login"
                                   required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" class="form-control rounded-left" placeholder="Password"
                                   name="password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-secondary rounded submit px-3">Login
                            </button>
                            <div class="pt-3 text-center">
                            <a th:href="@{/user/showReg}" class="">Not a member?</a>
                            </div>
                        </div>
                        <div class="row justify-content-center" th:if="${param.error != null}">
                            <p class="text-danger" th:text="${param.error}"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>
