
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <p class="border-bottom text-secondary">News</p>
            <div  th:each="news, index: ${newsList}">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:src="${news.imagePath}" alt="Card image cap"
                         height="500"
                         width="100%">
                    <div class="card-body">
                        <p class="card-text" th:text="${news.briefNews}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted"
                                   th:text="${#dates.format(news.publicationDate, 'yyyy-MM-dd')}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <p class="border-bottom text-secondary">Tags</p>
        </div>
    </div>
</div>
