<!DOCTYPE html>
<html lang="en">

<body>
<!--------------------------------------------carousel---------------------------------------------->
<div class="container">

    <div class="row mb-4">
        <div class="col-md-12 col-lg-12">
            <p class="border-bottom text-secondary">Latest news</p>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ul>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-body d-flex flex-column justify-content-end align-items-center card-img-overlay">
                                        <h4 class="card-title text-center">Card 1</h4>
                                        <p class="card-text text-center">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title align-bottom">Card 1</h4>
                                        <p class="card-textalign-bottom">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title align-bottom">Card 1</h4>
                                        <p class="card-text align-bottom">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="https://via.placeholder.com/350x500.png"
                                         alt="Card image cap">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">Some text for Card 1.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------/carousel---------------------------------------------->


    <div class="row">
        <div class="col-md-9 col-lg-9 overflow-auto">
            <p class="border-bottom text-secondary">News</p>
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://via.placeholder.com/700x500.png" alt="Card image cap"
                     height="500"
                     width="100%">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>


            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://via.placeholder.com/700x500.png" alt="Card image cap"
                     height="500"
                     width="100%">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://via.placeholder.com/700x500.png" alt="Card image cap"
                     height="500"
                     width="100%">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://via.placeholder.com/700x500.png" alt="Card image cap"
                     height="500"
                     width="100%">
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <p class="border-bottom text-secondary">Tags</p>
        </div>
    </div>
</div>
</body>
</html>