
<br><br>

<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card bg-light shadow-sm">
                <div class="login-wrap p-5">
                    <h2 class="text-center text-secondary mb-4">Welcome</h2>
                    <p class="text-center" ><img class="mx-auto" th:src="@{/images/93e3fb0eec46d93a0749a965747a7d9b.png}"/></p>
                    <h3 class="text-center mb-4 text-secondary">Register</h3>
                    <form th:action="@{/user/processRegForm}" method="post" class="login-form" th:object="${user}">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Name" name="userDetails.name"
                                   th:field="*{userDetails.name}">
                            <p class="text-danger" th:if="${#fields.hasErrors('userDetails.name')}" th:errors="*{userDetails.name}"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Surname" name="userDetails.surname"
                                   th:field="*{userDetails.surname}" >
                            <p class="text-danger" th:if="${#fields.hasErrors('userDetails.surname')}" th:errors="*{userDetails.surname}"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Email" name="email"
                                   th:field="*{email}">
                            <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Login" name="login"
                                   th:field="*{login}">
                            <p class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control rounded-left" placeholder="Password" name="password"
                                   th:field="*{password}">
                            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control rounded-left" placeholder="Confirm password"
                                   name="confirmPassword" th:field="*{confirmPassword}">
                            <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
                        </div>
                        <div class="row justify-content-center" th:if="${param.error != null}">
                            <p class="text-danger" th:text="${param.error}"></p>
                        </div>
                        <div class="row justify-content-center" th:if="${param.message != null}">
                            <p class="text-success" th:text="${param.message}"></p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-secondary rounded submit px-3">Register</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>